*{
    box-sizing: border-box;
    
    font-family: 'Roboto, sans-serif';
    font-weight: bold;

    padding: 0;
    margin: 0;
}


@import "sass/_colors.scss";

body {
    background: linear-gradient(to right, #233329, #41b883);
}

@import "sass/_layout.scss";
