.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;

    min-height: 100vh;

    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container > button {
    cursor: pointer;

    font-size: 2rem;
    color: $white;

    border: none;
    outline: none;

    background: $black-buttom;
}

 .grid-container > .operator {
    background: $green-operator;
}

.span-two {
    grid-column: span 2;
}

.grid-container > .output {
    grid-column: 1 / -1;

    background: $black-output;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    padding: 10px;

    word-wrap: break-word;
    word-break: break-all;
}

.grid-container > .output > .previous-operand {
    color: $white-previous;

    font-size: 1.5rem;
}

.grid-container > .output > .current-operand {
    color: $white;
    font-size: 2.5rem;
}